nav#nav(role='navigation')
  ul
    li
      a(href='#')
        i.icon.ion-ios7-cog-outline
        p Settings
    li
      a(href='/login')
        i.icon.ion-log-in
        p Login
    li
      a(href='#')
        i.icon.ion-help-buoy
        p Support