doctype html
html
  head
    title= 'Clustter'
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')
    link(rel='stylesheet', href='stylesheets/style.css', type='text/css')
    link(rel='apple-touch-icon' sizes='120x120' href='images/icons/iphone-retina.png')
    link(rel='apple-touch-startup-image' href='images/startup.png')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Open+Sans:700,400', type='text/css')
    block head
  body
    //- .alpha
      span Alpha
    .wrap
      block body
  block scripts
  footer
    block footer
    p
      a(href='http://www.twitter.com/getclustter' target='_blank')
        i.ion-social-twitter
    small 2014. Clustter &copy; all rights reserved. 
if env == 'development'
  script(src='//localhost:35729/livereload.js')