//  ______     __         __  __     ______     ______   ______   ______     ______   
// /\  ___\   /\ \       /\ \/\ \   /\  ___\   /\__  _\ /\__  _\ /\  ___\   /\  == \  
// \ \ \____  \ \ \____  \ \ \_\ \  \ \___  \  \/_/\ \/ \/_/\ \/ \ \  __\   \ \  __<  
//  \ \_____\  \ \_____\  \ \_____\  \/\_____\    \ \_\    \ \_\  \ \_____\  \ \_\ \_\
//   \/_____/   \/_____/   \/_____/   \/_____/     \/_/     \/_/   \/_____/   \/_/ /_/
//

// typography
$typeface = 'Open Sans', helvetica, arial, sans-serif

// colors
$type_dark = #595959
$type_light = lighten($type_dark, 30%)

$blue = #41b3d9
$green = #2ecc40
$yellow = #ffdc00
$red = #ff4136
$orange = #ff851b
$black = #444444
$purple = #6c368e
$pink = #ee3769
$tech = #6c84ae

$twitter = #55acee

// functions
prepareHeadline(color)
  border-left 0.625em solid color

// styles
html, html a
  font-size 100%
  touch-action manipulation // removes 300ms delay on touch events
  -webkit-tap-highlight-color rgba(0, 0, 0, 0) // removes tap-highlight
  color inherit
  text-decoration none
  -webkit-font-smoothing antialiased
  text-shadow 1px 1px 1px rgba(0,0,0,0.004)
  -webkit-text-size-adjust 100%

body
  background-color #e6e6e6
  text-rendering optimizeLegibility
  -webkit-touch-callout none
  user-select none

*, *:before, *:after
  box-sizing border-box

html, body, ul, ol
  margin 0
  padding 0

h1, h2, h3, h4, h5, p
  margin 0
  font-weight normal

body
  color $type_dark
  font-family $typeface

.toggle
  $frame = 170px
  $button = 40px
  $buttonMargin = ($button / 2)
  $height = 40px
  margin 0.625em auto
  width $frame
  height $height
  position relative
  border-radius 20px
  color #FFF
  font-weight normal
  overflow hidden
  input
     display none
     &:checked ~ label
      left -($frame - $button)
  label
    width: (2 * @width) - $button
    height $height
    line-height $height - 2
    vertical-align middle;
    border-radius 1px
    position absolute
    background-color #ccc
    top 0 
    left 0 
    z-index 1 
    font-size 100%
    cursor pointer 
    transition all 0.25s cubic-bezier(0.175, 0.885, 0.32, 0.89)
    b
      display block
      height $height
      width $button
      margin 0 (- $buttonMargin) 0 (- $buttonMargin)
      float: left
      position: relative
      z-index: 1
      background: lighten($black, 70%)
      border 2px solid lighten($black, 75%)
      border-radius: 20px
  label::before
    content 'Paragraphs'
    width $frame - ($button / 2)
    height $height 
    float left 
    margin-top 00px 
    text-align center 
    background $blue
    vertical-align middle
  // label hover b
  //   background #E5E5E5
  label::after 
    content 'Bullets'
    width $frame - ($button / 2)
    height $height
    float left
    margin-top 00px
    text-align center
    background $green
    vertical-align middle

.javascript-disabled
  width 100%
  padding 0.3125em
  font-size 0.9em
  text-align center
  color $red
  background-color lighten($red, 90%)
  border 0.2em solid lighten($red, 70%)

.app
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  .app__feedback
    position fixed
    color white
    background-color $blue
    box-shadow 0px 2px 0px 0px rgba(50, 50, 50, 0.10)
    z-index 1000
    top 0
    left 0
    right 0
    height 3.75em
    line-height @height
    padding 0 1*0.625em
    vertical-align middle
    &.danger
      background-color $red
    &.info
      background-color $blue
    &.success
      background-color $green
    &.warning
      background-color $orange
    .fa
      color rgba(0, 0, 0, 0.25)
      vertical-align middle
      font-size 1.4em
  .app__topbar
    position fixed
    color $type_light
    background-color white
    box-shadow 0px 2px 0px 0px rgba(50, 50, 50, 0.10)
    z-index 200
    top 0
    left 0
    right 0
    font-size 1.3em
    .fa
      font-size 1.4em
    // background url('../images/clustter_alt.svg') no-repeat center center @background-color
    background url('../images/clustter.svg') no-repeat center center @background-color
    background-size 1.1em
    padding 0.75em
    h1
      font-size 2em
  .app__content
    overflow-y hidden
    max-width 800px
    margin 0 auto
    box-shadow 0px 4px 0px 0px rgba(50, 50, 50, 0.10)
    background-color white
    position relative
    top 3.75em
    bottom 0
    left 0
    right 0
    z-index 0
    .app__content--loading
      padding 0.625em
      text-align center
      color lighten($type_dark, 75%)
      font-size 2em
    .app__content--menu
      padding 0.625em
    .app__content--feed
      li
        padding 0.625em
        &.uk
          prepareHeadline($red)
        &.health
          prepareHeadline($green)
        &.global
          prepareHeadline($type_dark)
        &.business, &.finance, &.men
          prepareHeadline($blue)
        &.parents, &.women
          prepareHeadline($pink)
        &.entertainment
          prepareHeadline($orange)
        &.sports
          prepareHeadline($yellow)
        &.miscellaneous
          prepareHeadline($purple)
        &.technology
          prepareHeadline($tech)
        // h2
        //   color $type_dark
        small
          text-transform uppercase
          font-size 0.75em
    .app__content--story
      article
        padding 0.625em
        header
          h1
            margin-bottom 0.625em
        li
          margin-bottom 0.625em
      .share
        text-align center
        vertical-align middle
        padding 0.625em
        border-top 0.5*0.625em solid lighten($twitter, 10%)
        border-bottom 0.5*0.625em solid lighten($twitter, 10%)
        background-color $twitter
        color white
      .references
        padding 0.625em
        background-color $black
        color white
        word-wrap break-word
        p
          margin-bottom 0.625em
    .app__content--retry
      padding 0.625em
      color $type_light
      text-align center
      h1
        line-height 0
        text-shadow 0 1px 0 #bbb
        font-size 6em      
  footer
    padding 2*0.625em
    text-transform uppercase
    font-size 0.8em
    color $type_light
    text-align center
    .fa-heart
      color $red
    .fa-twitter
      color $twitter
    a
      color $blue
      border-bottom 1px dotted $blue

.right
  float right

.left
  float left

// media queries
@media all and (min-width: 37.5em)
  .app
    font-size 1.2em
